@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, red , yellow); */
}
.Main-block-content {
  padding: 0 2vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0;
  /* background-image: linear-gradient(to bottom right, red, yellow) */
}

/* aplying font to the page */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto;
}
a{
  font-size:1.3em;
  color:black;
  font-size: inherit;
  text-decoration: none;
  font-family: 'Lato';
}

p{
  font-size:1.1em;
  font-family: Lato;
  padding-left: 6vw;
}

/* ----------_---- */

.btn span {
  font-size: 1.2em;
}

/* Style the active class, and buttons on mouse-over */
/* .btn:active, */

.btn span:hover {
  color: #9033c6;
}
/* ---------------------- */

.nav-bar {
  padding-right: 2vw;
  padding-top: 3vw;
  /* background-color: rgb(43, 76, 226); */
  display: flex;
  justify-content: space-between;
}

.nav-bar ul {
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav img {
  
  padding: 1vw 0 0 1vw;
  width: 30vw;
  height: 20vw;
  /* width: */
}

.nav-bar li {
  font-family: "Lato";
  font-size: 1em;
  font-weight: 700;
  padding: 0 2vw;
}

.nav-bar h3 {
  margin-top: 0.1vh;
  margin-left: 2vw;
}

.nav-bar a {
  font-size: 1.3ch;
  color: Black;
  padding: 10px;
  text-decoration: none;
}

header {
  width: 89vw;
}

header h1 {
  font-size: 3.2vw;
  font-weight: 600;
  text-align: left;
}

header a {
  display:none;
}

.museums-section h4{
  text-align: center;
  font-size: 2em;
}

.thank-you-for-scrolling a{
  font-family: lato;
  color: black;
  font-weight: 600;
  text-align: left;
  padding-left: 6vw;
  font-size:1.1em;
}

header p {
  text-align: center;
  font-size:1.1rem;
  text-align: inherit;

}

header div {
  padding-top: 14vw;
  padding-left: 3vw;
  padding-bottom: 2vh;
}



header h1{
  text-align:center;
  font-size: 1.8rem;

}
#justify-text-mobile {
  padding: 3vw;
  text-align: justify;
}

header:nth-child(2) {
  text-align: center;
}


.home-header {
  padding-left: 2vw;
}


.Home-main-pics div{
  padding-bottom: 7vw;
}

.Case-study-pics-about{
    display: flex;
    flex-direction: column;
    align-items: top;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
  }


  .Case1-Case-study-pics {
    border: 4px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
  }

.Home-main-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.Case-study-pics-about {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(
    181.29deg,
    rgba(114, 239, 221, 0.8) 1.1%,
    rgba(128, 255, 219, 0) 77.5%
  );
  padding: 2vw 0;
}

.inner-Case-study-pics-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

}

.inner-Case-study-pics-about h4{
  padding-left: 6vw;
  font-size: 2em;
  align-self: flex-start;
  margin-bottom: 0;
}

.inner-Case-study-pics-about p{
  margin-bottom: 17vw;
}


.Case-study-pics-about img{
  
  width: 93vw;
  height: 49vh;
}

.Case-study-main-pics{
  padding: 10.5vw 3.5vw 3.5vw;
}

.Case-study-main-pics img,
.Home-main-pics img {
  width: 93vw;
  height: 58vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.Case-study-main-pics p{
  text-align: left;
  padding-left: 1vw;
  font-size:1.3em;
}


.Case-study-main-pics h3{
  font-size: 1.6em;
}
.Home-main-pics p {
  text-align: left;
  padding-left: 1vw;
}

.case-big-padding {
  padding-bottom: 15vh;
}

.social-Media-pics-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2vh;
  width: 87vw;
  height: 15vw;
  margin: 0;
  padding: 0 0 3vh 0;
}

.social-Media-pics-mobile img{
  padding:0px 5vw;
}

.social-Media-pics-Desktop {
  display: none;
}

/* -----sectio : reseach-stories-section - index --------- */

/* .substory-index{
    display: flex;
    flex-direction: column;
    
} */

hr {
  width: 82vw;
  border-bottom: 1px solid;
}

.column-1 {
  width: 25vw;
  margin: 0;
}
.column-2 {
  width: 50vw;
  margin: 0;
}
.column-3 {
  width: 25vw;
  margin: 0;
}

.substory-index {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reseach-stories-section {
  height: auto;
  width: 100vw;
  background-image: linear-gradient(#80ffdd, White);
}

.reseach-stories-section h3 {
  text-align: left;
  padding: 5vw;
}

#hearth {
  width: 30px;
  height: 30px;
}
.thank-you-for-scrolling {
  height: auto;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 12vw;
  padding-bottom: 7vw;
}


.thank-you-for-scrolling p{
  width: 86vw;
}

.thank-you-for-scrolling-about{
  margin-bottom: 5vw;
}

.thank-you-for-scrolling-about a{
  padding-left:6vw;
  font-size:1.1em;
  font-family: lato;
  font-weight:700;
}
.thank-you-for-scrolling-about p{
  font-size:1.1em;
}

.flexBox-story h4{
  padding-left: 6vw;
  font-size:1.9em;
  text-align: center;
}
.flexBox-story {
  display: flex;
  flex-direction: row;
}

footer {
  width: 100vw;
  background: linear-gradient(#d8d8d8cc, #fafafa00);
  margin: 0 auto 2x;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer hr {
  width: 34vw;
  border: 1px solid;
}

footer a,
footer p,
footer h4{
 
  padding-left: 0;
}

.footer1 {
  /* background-color:lightgreen; */
  widows: 25vw;
  padding-left: 10vw;
}

.footer2 {
  display: none;
}

.footer3 {
  /* background-color:lightskyblue; */
  widows: 25vw;
  padding-right: 10vw;
}

/* About page CSS */

#hero-picture {
  padding-bottom: 9vh;
}

#hero-picture img {
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
}

.home-header h1{
  text-align:left;
  padding-left: 0;
}

.home-header div{
  padding-top: 11vw;
  padding-left: 3vw;
  padding-bottom: 6vh;
}

.about-myStory {
  background-color: lightgray;
}

.about-myStory img {
  width: 75vw;
  height: 20vh;
}

/* _________About Style___________-- */

.about-main-content {
  background-color: forestgreen;
}

.about-main-content img {
  width: 96vw;
  height: 20vh;
}

.about-museums img {
  padding: 4vw 0;
  width: 50vw;
  height: 50vw;
}

.about-museums {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.textClass {
  padding: 5vw;
}

.about-bot-H1 {
  color: white;
  background: linear-gradient(
    180deg,
    rgba(116, 0, 184, 0.8) 0%,
    rgba(100, 223, 223, 0.5) 99.99%,
    rgba(221, 221, 221, 0) 100%
  );
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-bot-H1 p {
  font-size: 1.7em;
}

#extra-pic {
  display: none;
}

.extra-items {
  display: none;
}

.case-studies-Responsive-largeScreen {
  display: none;
}

/* @media only screen and (min-width : 321px) {
    .Home-main-pics img{
        width: 96vw;
        height: 30vh;
    }
} */

/* ________________ Media query for Desktop ___________________ */
@media screen and (min-width: 1024px) {
  .Main-block-content {
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to bottom right, rgba(72, 255, 0, 0.603), rgb(24, 67, 209)) */
  }

  .nav-bar {
    padding: 1vw 2vw;
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
  }

  nav img {
    width: 16vw;
    height: 11.5vw;
 
  }

  .btn span {
    font-size: 1.8vw;
  }

header a{
  display: block;
  font-family: lato;
  color: black;
  font-size: 1.1em;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
  }



  .Case-study-main-pics{

    padding: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}


.Case-study-main-pics img{
  width: 86vw;
  height: 35vw;
  border-radius: 10px;
  box-shadow: none;
}


.Case-study-main-pics p {
  text-align: left;
  padding-left: 1vw;
}

  .Case-study-pics-about img{
    padding: 0 1.3vw 0 1.3vw;
    width: 46vw;
    height: 28vw;
  }

  .Case-study-pics-about h4{
    font-size:1.4em;
  }

  .Case-study-pics-about p{
    font-size:1.1em;
    padding: 0 2vw 0;
  }


  .Home-main-pics img {
    padding: 0 1.3vw 0 1.3vw;
    width: 46vw;
    height: 28vw;
    box-shadow: none;


  }
  .Case1-Case-study-pics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

  }

  .Home-main-pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .Case-study-pics-about {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
  }

  .Case-study-pics-about,
  .Case1-Case-study-pics,
  .Home-main-pics {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
  }

  .Home-main-pics p {
    padding: 20px 0 0 2vw;
    font-family: Lato;
    font-size: 1.3em;
    font-weight: 600;
  }

  /* test */
  /* .Home-main-pics-about{
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    } */

  .extra-items {
    display: flex;
    justify-content: center;
  }

  #extra-pic {
    display: block;
  }

  .reseach-stories h3 {
    text-align: left;
    padding:0;
  }
  

 

  .Home-main-pics div {
    padding-bottom: 3vw;
  }

  .nav-bar li {
    font-family: "Lato";
    font-size: 3em;
    font-weight: 700;
    padding: 0 2vw;
  }

  #hero-picture img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }

  
  .header-about {
    width: 100vw;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4vw;
  }

  


  .header-about div {
    width: 40vw;
    height: 40vw;
  }

  footer {
    width:98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  hr {
    width: 87vw;
  }

  footer a,
  footer p,
  footer h4{
    font-size: 1.2em;
    font-family: lato;
    padding-left: 0;
  }
  .reseach-stories-section {
    height: auto;
    width: 100vw;
  }
  .flexBox-story h4{
  
      padding-left: 0vw;
      font-size: 1.5em;
  }
  .reseach-stories-section h3 {
    padding:0;
    padding-left: 1.3vw;
    font-size: 1.5em;
  }

  .flexBox-story p {
    padding-left: 7vw;
  }

  .flexBox-story,
  .reseach-stories {
    padding: 3.2vh;
  }

  .flexBox-story a {
    size: 1.5em;
  }

  .footer2 {
    display: inline;
  }

  footer hr {
    display: none;
  }

  .social-Media-pics-Desktop img {
    width: 4.5vw;
    height: 4.5vw;
    padding-bottom: 5vh;
  }

  

  .social-Media-pics-Desktop img:nth-last-child(){
    padding-right: 6vw;
  }

  .social-Media-pics-mobile {
    display: none;
  }

  .about-workWith-passion img {
    padding: 4vw 0;
    width: 20vw;
    height: 20vw;
  }
  
  header div {
    padding: 0 0 9vh 2vw;
    padding-bottom: 9vh;
  }

  .thank-you-for-scrolling-about,
  .thank-you-for-scrolling {
    height: auto;
    width: 96vw;
    padding-bottom: 4vw;
    padding-top: 20vh;
    padding-left: 2.7vw;
  }

.thank-you-for-scrolling-about,
  .thank-you-for-scrolling p{
    padding-left: 2vw;
    margin:0;
  }

  .thank-you-for-scrolling p:last-child{
    padding-bottom: 8vh;
  }
.thank-you-for-scrolling-about a{
  padding-left: 6vw;
  font-size: 1.3em;
}
  .thank-you-for-scrolling a{
    padding-left: 2vw;
    display: block;
    font-family: lato;
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
  
  }

  .thank-you-for-scrolling:nth-last-child(){
    margin-top: 10px;
  }

  .inner-Case-study-pics-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  
  }
 
  .inner-Case-study-pics-about img{
    width:29vw;
    height: 35vw;

  }

  .museums-section{
    padding: 0 3vw;
  }

  .about-museums img {
    padding: 4vw 0 ;
    width: 33vw;
    height: 38vw;
  }
  
  .about-museums{
    display: flex;
    flex-direction:row;
    padding: 2vw 0 6vw 0;
  }

  .about-museums div{
    padding: 0 3vw;
  }

  .museums-text{
    display: flex;
    flex-flow: column;
    justify-content:flex-start;
  
  }
  .museums-text h4{
    font-size:1.4em;
    padding: 0;
  }
  .museums-text p{
    padding:0;
  }

  

.substory-index {
    display: flex;
    align-items: center;
  height: 7vh;
}

.column-1{
  color: grey;
  padding-left: 5vw;
  width:7vw;
}

.textClass {
  text-align: left;
  padding: 0vw;
}

#hero-picture {
  padding-top: 8vw;
}

header div {
  padding:0;
}

.thank-you-for-scrolling-about {
  height: auto;
  width: 100vw;
  padding-bottom: 4vw;
  padding-left: 4.3vw;

}

#Valerie-about{
  
  text-align: left;
}

.home-header {
  padding-left: 7vw;
  margin-top: 4vw;
  width: 100vw;
  height: 25vw;
}

.home-header h1{
  text-align:left;
  padding-left: 0;
}

.home-header div{
  padding-top: 1vw;
  padding-left: 3vw;
  padding-bottom: 6vh;
}

.social-Media-pics-Desktop{
  display:block;
}

.hero-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-Media-pics-mobile{
  display:none;
}

.thank-you-for-scrolling-about a,
.thank-you-for-scrolling-about p{
  padding-left: 2vw;
}
}