@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body{
    margin: 0;
    padding: 0;
}

/* /Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto;
}
a{
  font-size:1.3em;
  color:black;
  font-size: inherit;
  text-decoration: none;
  font-family: 'Lato';
}

p{
  font-size:1em;
  font-family: Lato;
  padding-left: 6vw;
}

/* /NavBar */

.nav-bar {
  padding-right: 2vw;
  padding-top: 3vw;
  /* background-color: rgb(43, 76, 226); */
  display: flex;
  justify-content: space-between;
}

.nav-bar ul {
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav img {
  
  padding: 1vw 0 0 1vw;
  width: 30vw;
  height: 20vw;
  /* width: */
}

.nav-bar li {
  font-family: "Lato";
  font-size: 1em;
  font-weight: 700;
  padding: 0 2vw;
}

.nav-bar h3 {
  margin-top: 0.1vh;
  margin-left: 2vw;
}

.nav-bar a {
  font-size: 1.3ch;
  color: Black;
  padding: 10px;
  text-decoration: none;
}

/* /Home Content */
.home-header {
    width: 89vw;
  }
  
  .home-header h1 {
    font-size: 3.2vw;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2rem;
  }
  
  .home-header a {
    display:none;
  }

  .Home-main-pics div:nth-last-child(-n+2){
    display: none;
  }

  .Home-main-pics img {
    width: 94%;
    height: 13rem;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    margin-left: 3%;
  }

  .Home-main-pics p{
    margin: 0.5rem 0 2rem 0.2rem;
    font-size:1.1em;
    font-family: Lato;
  }

  /* /Reseach stories */
  .reseach-stories-section {
    height: auto;
    width: 98%;
    background-image: linear-gradient(#80ffdd, White);
    padding: 2% 0 0 4%;
  }

  .substory-index{
    display: flex;
  }

  .column-1{
    align-self: center;
  
  }

  #reseach-stories{
    margin-left: 2%;
  }

  .column-2{
    display: flex;
    flex-direction: column;
  }

  .thank-you-for-scrolling {
    height: auto;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  
  
  .thank-you-for-scrolling p{
    width: 90%;
    padding: 1rem 0 0 0;
  }

  .thank-you-for-scrolling a{
    font-size:1.1em;
    font-family: lato;
    font-weight:700;
  }


  /* .flexBox-story h4{
  
      padding-left: 0vw;
      font-size: 1.5em;
  }
  .reseach-stories-section h3 {
    padding-left: 0.5rem;
    font-size: 1.5em;
  }

  .flexBox-story p {
    padding-left: 7vw;
  }

  .flexBox-story,
  .reseach-stories {
    padding: 3.2vh;
  }

  .flexBox-story a {
    size: 1.5em;
  } */

  
/* /Media Screem Medium*/
@media screen and (min-width: 650px) {


    .nav-bar {
        padding: 1vw 2vw;
        padding-top: 3vw;
        display: flex;
        justify-content: space-between;
      }
    
      nav img {
        width: 16vw;
        height: 11.5vw;
     
      }
    
      .btn span {
        font-size: 1.8vw;
      }

    .home-header{
      margin-left: 0.5rem;
    }
    
    .home-header a{
      display: block;
      font-family: lato;
      color: black;
      font-size: 1.1em;
      font-weight: 600;
      text-align: left;
      text-decoration: none;
      }

      .home-header h1 {
        font-size: 3.2vw;
        font-weight: 600;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .home-header a{
      margin-bottom: 2.5rem;
    }

    /* /Home Content */

    .Home-main-pics{
      display: flex;
      flex-wrap: wrap;
      padding-left: 2.3%;
    }

    .Home-main-pics div{
      margin-bottom: 1.5rem;
      width: 50%;
    }

    .Home-main-pics div:nth-last-child(-n+2){
      display: block;
    }

    .Home-main-pics img {
      width: 90%;
      height: 13rem;
      margin: 0 7% 0 2%;
    }

    .Home-main-pics p {
      margin: 0.5rem 0 1rem 0;
      padding-left: 2rem;
      font-size: 1.1em;
      font-family: Lato;
    }   
    
    .thank-you-for-scrolling h3{
      margin-top: 2rem;
    }

    
    footer {
      width: 100%;
      background: linear-gradient(#d8d8d8cc, #fafafa00);
      margin: 0 auto 2x;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    footer hr {
      width: 90%;
      border: 1px solid;
    }

    footer a,
    footer p,
    footer h4{
      padding:0 2rem;
    }

}

/* /Media Screem Large*/
@media screen and (min-width: 1000px) {
  body{
      background-color: rgb(61, 61, 61);
  }
  main{
      width: 70%;
      background-color: whitesmoke;
      margin: 0 15%;
  }

  .nav-bar li {
    font-family: "Lato";
    font-size: 1em;
    font-weight: 700;
    padding: 0 0.7rem;
}

  .home-header{
    margin-left: 2rem;
  }
  
  .home-header a{
    display: block;
    font-family: lato;
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    }

    .home-header h1 {
      font-size: 3.2vw;
      font-weight: 600;
      text-align: left;
      margin-bottom: 0.5rem;
  }

  .home-header a{
    margin-bottom: 2.5rem;
  }

  /* /Home Content */

  .Home-main-pics{
    padding-left: 0.5rem;
  }

  .Home-main-pics div{
    margin-bottom: 2rem;
  }

  .Home-main-pics img {
    width: 86%;
    height: 15rem;
    margin: 0 0.5% 0 5.3%;
  }

  .Home-main-pics p {
    margin: 0.5rem 0 1rem 1rem;
  }


  .reseach-stories-section{
    width: 96%;
  }



  /* / */
}