
main{
    background-color: #fefefe ;
}
body{
    padding:0, 3vw;
    display: flex;
    flex-flow: column;
    margin-top: 0;
    margin-left: 9vw;
    background-color: #292020;
     /* #f2f2f2; */
    height: 90vh;
    width: 80vw;
}


.nav-bar{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.nav-bar h3{
    margin-top: 0.1vh;
    margin-left: 2vw;
}

.nav-bar a{
    font-size: 1.3ch;
    color: white;
    padding: 10px;
    text-decoration: none;
}

header{
    /* height: 30vh; */
}

h1{
    text-align: center;
}
 
 header p{
    text-align: center;
}

#justify-text-mobile{
    padding: 3vw;
    text-align: justify;
}


header:nth-child(2){
    text-align: center;
}

.Case-study-pics{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

.Case-study-pics img{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    width: 75vw;
    height: 20vh;
}

.social-Media-pics img{
    width: 30px;
    height: 30px;
}

/* -----sectio : reseach-stories-section - index --------- */

/* .substory-index{
    display: flex;
    flex-direction: column;
    
} */


.test1 div{
    margin: 0;
    width: 50px;
    height: 50px;
    background-color:grey;
    border-color:blue;
}

.column-1{
    background-color:green;
    width:15vw;
}


.column-2
{
    background-color:blue;
    width:15vw;
}
.column-3

/* targets Reseach stories title */
.reseach-stories{
    color: blue;
    font-size: 3vh;
    text-align: center;
}

#hearth{
    width:30px;
    height: 30px;
}
.thank-you-for-scrolling{
    background-color:rgb(202, 202, 202);
    
}

.flexHeader{
    display: flex;
    flex-direction: row;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer1{
    background-color:lightgreen;
    widows: 25vw;
}


.footer2{
    background-color:lightskyblue;
    widows: 25vw;
}