body{
    margin:0;
    padding:0 2vw;
}
.Main-block-content{
    
    display: flex;
    flex-flow: column;
    align-items: center;
    margin:0;
    background-color:#fefefe;

}


.nav-bar{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.nav-bar h3{
    margin-top: 0.1vh;
    margin-left: 2vw;
}

.nav-bar a{
    font-size: 1.3ch;
    color: white;
    padding: 10px;
    text-decoration: none;
}


section {
    margin: 0;
    padding: 0;
}
header{
    /* height: 30vh; */
}

h1{
    text-align: center;
}
 
 header p{
    text-align: center;
}

#justify-text-mobile{
    padding: 3vw;
    text-align: justify;
}


header:nth-child(2){
    text-align: center;
}

.Case-study-pics{
    background-color:rgb(76, 87, 122);
    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
}

.Case-study-pics img{
    width: 96vw;
    height: 20vh;
}

.social-Media-pics img{
    padding-top: 2vh;
    width: 30px;
    height: 30px;
    padding-bottom: 5vh;
}

/* -----sectio : reseach-stories-section - index --------- */

/* .substory-index{
    display: flex;
    flex-direction: column;
    
} */




/* targets Reseach stories title */
.reseach-stories{
    /* color: blue;
    font-size: 3vh;
    text-align: center; */
}

hr{
    width:82vw;
    border-bottom: 1px solid;
    
}

.column-1{
    width:25vw;
    margin:0;
}
.column-2{
    width:50vw;
    margin:0;
}
.column-3{
    width:25vw;
    margin:0;
}


.substory-index{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
}




.reseach-stories-section h3{
    text-align: center;
}


#hearth{
    width:30px;
    height: 30px;
}
.thank-you-for-scrolling{
    height: 300px;
    width:300px;
    background:url(E:/Picture,icons/landscape-lights-sunset-sea-bay-hotel-358923-wallhere.com.jpg);
    background-size: contain;
    
}

.flexBox-story{
    display: flex;
    flex-direction: row;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer1{
    /* background-color:lightgreen; */
    widows: 25vw;
    padding-left: 10vw;
}


.footer2{
    /* background-color:lightskyblue; */
    widows: 25vw;
    padding-right: 10vw;
}


/* About page CSS */

#hero-picture{
    padding-bottom:5vh;
}

#hero-picture img{
    width:190px;
    height: 190px;
    border-radius:50%

}

.about-myStory{
    background-color:lightgray;

}

.about-myStory img{
    width: 75vw;
    height: 20vh;
}


/* _________About Style___________-- */


.about-main-content{
    background-color: forestgreen;
}

.about-main-content img{
    width: 96vw;
    height: 20vh;
}


.about-workWith-passion img{
    padding:4vw 0;
    width:50vw;
    height:50vw;
    
}


.about-workWith-passion{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.textClass{
    padding:5vw;
}

.about-bot-H1{
    background-color:black;
    color:goldenrod;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content:center;
}